<h2 class="font-weight-bold">ログイン</h2>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>

  <%= f.submit "ログイン", class: "btn btn-warning" %>
  <%= link_to "新規登録", new_user_path, class: "btn btn-secondary" %>

<% end %>