<!DOCTYPE html>
<html>
  <head>
    <title>ManyoWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}")%>
    <% end %>
    <% if logged_in? %>
      <%= link_to "プロフィール", user_path(current_user.id), class: "btn btn-primary" %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "新規登録", new_user_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
